#navbar {
    
}
#navbar li {
    display: inline-block;
    padding: 10px;
    font-size: 40px;
    border: 4px black;
    background-color: yellow;
    
}
#nevbar a     
{}
p.sanserif {
        font-family: arial, helvetica, sans-serif; 
}

#navbar a{
    text-decoration: none; 
    


    
}