#navbar {
    
}

#navbar li {
    display: inline-block;
    padding: 10px;
    font-size: 40px;
    border: 1px black;
    background-color: tan;
    margin-left:-5px;
}

#navbar a {
    text-decoration: none;
    color: border-left
}

h1 {
   font-family: "cherry cream soda", cursive;
    font-weight: bold;
    text-align: center;
    font-size: 64px;
}
body{ 
background: url("http://www.tourisme-haut-minervois.fr/fr/decouvrir-haut-minervois/villages-minervois/images/CAUNES/caunes-vue.jpg") fixed center center no-repeat;
background-size: cover;
}

#test{
    float:right;
}

/*
selector {
    property: value;
}
*/


